= "criou "     if entry.kind_of?(EventCreateLogEntry)
= "editou "    if entry.kind_of?(EventEditLogEntry)
= "excluiu "   if entry.kind_of?(EventDeleteLogEntry)
= "restaurou " if entry.kind_of?(EventRestoreLogEntry)

= "o evento " + link_to(h(entry.event.title), course_event_url(entry.course, entry.event, :version => entry.version))
