%h4.title= h(@course.full_name)
%h1.title Mudanças recentes

= auto_discovery_link_tag :rss, formatted_course_log_url(@course, :rss)

.box
  %table
    %tr
      %th Data
      %th Usuário
      %th Descrição
    - @log_entries.each do |entry|
      %tr
        %td= entry.created_at.strftime("%d/%m/%y&nbsp;%H:%M:%S")
        %td= link_to truncate(h(entry.user.display_name), 20), user_path(entry.user)
        %td= render(:partial => 'log/log_entry', :locals => { :entry => entry })
