= javascript_include_tag 'color'
= error_messages_for 'user'

%dl
  %dt
    %label{:for => 'user_login'} Login
  %dd= text_field('user', 'login')

  %dt
    %label{:for => 'user_name'} Nome Completo
  %dd= text_field('user', 'name')

  %dt
    %label{:for => 'user_display_name'} Nome de exibição (apelido)
  %dd= text_field('user', 'display_name')

  %dt
    %laber{:for => 'user_email'} Email
  %dd= text_field('user', 'email')


  %dt
    %label{:for => 'user_password'} Senha
  %dd= password_field('user', 'password', {:value => '', :id => 'password'})

  %dt
    %label{:for => 'user_password_confirmation'} Confirmação de Senha
  %dd= password_field('user', 'password_confirmation', {:value => ''})

  #passmeter &nbsp;
  
  %dt
    %label{:for => 'user_color_pref'} Esquema de cores
    = render :partial => 'widgets/color', :collection => App.color_schemes
  %br.clear
