= error_messages_for 'user'

%dl
  %dt
    %label{:for => 'user_display_name'} Nome de Exibição
  %dd= text_field('user', 'display_name')

  %dt
    %label{:for => 'user_name'} Nome completo
  %dd= text_field('user', 'name')

  %dt
    %label{:for => 'user_description'}
      Descrição
      =markup_enabled_field
  %dd= preserve(text_area('user', 'description', { :rows => 10 }))

  %dt
    %label Dica:
    %p
      Para utilizar um avatar, cadastre-se no site
      %a{href: 'http://gravatar.com'} Gravatar
      com o mesmo email utilizado no
      =App.title



  - if admin?
    %dt= check_box_tag('user[admin]', 1, @user.admin?) + " Administrador"
