= javascript_include_tag 'color'
= error_messages_for 'user'

= hidden_field_tag 'from', 'settings'

.box
  %h3 Informações Pessoais
  %dl
    - if defined?(signup) and signup
      %dt
        %label{:for => 'user_login'} Login
      %dd= text_field('user', 'login')

    %dt
      %label{:for => 'user_name'} Nome completo
      %p.grey= "Atenção: contas com nomes fictícios ou inválidos serão excluídas sem aviso prévio." if defined?(signup) and signup
    %dd= text_field('user', 'name')

    %dt
      %label{:for => 'user_display_name'} Nome de exibição (apelido)
    %dd= text_field('user', 'display_name')

    %dt
      %label{:for => 'user_email'} Email
    %dd= text_field('user', 'email')

    %dt
      %label{:for => 'user_password'} Senha
    %dd
      = password_field('user', 'password', {:value => '', :id => 'password'})
      %span#passmeter &nbsp;

    %dt
      %label{:for => 'user_password_confirmation'} Confirmação de Senha
    %dd
      =password_field('user', 'password_confirmation', {:value => ''})

.box
  %h3 Preferências
  %dl
    %dt
      %label{:for => 'user_color_pref'} Esquema de cores
      %br
      = render :partial => 'widgets/color', :collection => App.color_schemes
  %br.clear
