<% last_event = nil %>

<h4 class="title">Dashboard</h4>
<h1 class="title">Bem vindo, <%= h(@current_user.display_name) %></h1>

<!-- Noticias -->
<div class="news box">
	<h3>Notícias recentes</h3>
<% @news.each do |n| %>
	<div class="line">
		<h4 class="left"><%= n.timestamp.strftime("%d de %B") %></h4>
		<h4><%= link_to h(n.course.full_name) , course_url(n.course) %> &rsaquo;
		<%= link_to h(n.title), course_news_url(n.course, n) %></h4>
	</div>
<% end %>
</div>

<!-- Calendario -->
<div class="box div_calendario">
	<h3>Próximos eventos</h3>

	<% @events.each do |event| %>
		<% if last_event != event.date %>
		<% if last_event %></ul></div><% end %>
		<div class="date"><%= event.date.strftime("%d de %B") %></div>
		<div><ul>
		<% end %>
			<li>
				<div class="time"><%= event.time.strftime("%H:%M") %></div>
				<%= link_to h(event.course.full_name), course_url(event.course) %> &rsaquo;
				<%= link_to h(event.title), course_event_url(event.course, event) %>
			</li>
			<% last_event = event.date %>
	<% end %>
	<%= "</ul></div>" if !@events.empty? %>
</div>


<!-- Disciplinas Matriculadas -->
<div class="box">
	<h3>Disciplinas Matriculadas</h3>
	<ul class="wiki">
	<% @current_user.courses.each do |course| %>
		<li><%= link_to h(course.full_name), course_url(course) %></li>
	<% end %>
	</ul>
</div>

<h4><%#= link_to 'Descadastrar usuário', :action => 'destroy'%></h4>
