%h4.title= App.title
%h1.title Recuperar senha

- if params[:key]
  %p= error_messages_for :user
  = form_tag recover_password_with_key_path(params[:key]) do
    %dl
      %dt
        %label{:for => 'user_login'} Login
      %dd
        = text_field('user', 'login', {:value => @user.login, :readonly => true}) 

      %dt
        %label{:for => 'user_password'} Senha
      %dd
        = password_field('user', 'password', {:value => '', :id => 'password'}) 
        %span#passmeter &nbsp;

      %dt
        %label{:for => 'user_password_confirmation'} Confirmação de Senha
      %dd
        =password_field('user', 'password_confirmation', {:value => ''})
    = submit_tag 'Alterar senha'

- else
  - if @user
    %p Uma mensagem de confirmacão foi enviado para o seu email.

  - else
    = form_tag recover_password_path do
      %dl
        %dt
          %label{:for => 'user_email'} Email
        %dd
          =text_field('user', 'email')
      = submit_tag 'Recuperar senha'
