= error_messages_for 'attachment'

%dl
  %dt
    %label{:for => 'attachment_file'} Arquivo
    %p.grey= "Tamanho máximo: #{number_to_human_size(App.max_upload_file_size)}"
  %dd= file_field 'attachment', 'file'

  %dt
    %label{:for => 'attachment_path'} Diretório
    %p.grey= "Exemplo: Exercicios/Parte 1"
  %dd= text_field 'attachment', 'path'

  %dt
    %label{:for => "attachment_description"} Descrição
  %dd= preserve(text_area 'attachment', 'description')
