= javascript_include_tag 'wiki'

%h4.title= @course.full_name
%h1.title= "Editar #{(@wiki_page.title)}"

%p
  = form_tag course_wiki_instance_url(@course, @wiki_page.id), :method => :put do
    = render :partial => 'form'
    = submit_tag 'Salvar', :accesskey => 'e'
    %button#show_preview{:type => "button", :accesskey => 'v'}
      Visualizar
      = image_tag "loading.gif", :class => "spinner_button", :id => "spinner_preview", :style => "display: none"
  #wiki_preview{:style => "display: none"}
  = preserve(markup_help)
