-# cache(course_wiki_path(@course.id, @wiki_page.id)) do

= javascript_include_tag 'wiki'
.cmd
  = action_icon 'edit', 'Editar', edit_course_wiki_instance_url, :accesskey => 'e'
  = action_icon 'undo', 'Historico', versions_course_wiki_instance_url, :accesskey => 'h'
  = action_icon 'trash', 'Excluir página wiki', course_wiki_instance_url, :confirm => 'Tem certeza que deseja excluir?', :method => :delete, :accesskey => '-'

%h4.title= h(@course.full_name)
%h1.title= h(@wiki_page.title)
#contents{:style => "display: none"}
  %h1 Índice
#wiki_text
  = @wiki_page.content.format_wiki

%script
  = "enumerate_headers();"

