<h4 class="title"><%= App.title %></h4>
<h3 class="title">Alterar senha</h3>

<p>
<%= error_messages_for 'user' %><br/>

<%= form_tag :action => 'change_password' do %>

<label for="user_password">Nova senha</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation">Confirme nova senha</label><br/>
<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>
<br/>
<%= submit_tag "Enviar" %>

<% end %>
</o>
