
!!! XML
!!!
%html
  %head
    %title= @title || App.title
    %meta{'name' => 'robots', :content => 'noindex,nofollow'}
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8'}

    = stylesheet_link_tag :wiki
    %link{'href' => "#{App.base_path}/favicon.ico", 'rel' => 'icon', 'type' => 'image/vnd.microsoft.icon'}
    %link#css_color{'href' => "#{App.base_path}/stylesheets/cache/color.#{@color}.css", 'rel' => 'Stylesheet', 'type' => %'text/css'}

    /[if IE]
      %link{:href => "#{App.base_path}/stylesheets/ie/ie.css", :rel => "stylesheet", :type => "text/css"}

    /[if lte IE 6]
      %link{:href => "#{App.base_path}/stylesheets/ie/ie6.css", :rel => "stylesheet", :type => "text/css"}

    %script{:type => 'text/javascript'}
      == BASE_PATH = "#{App.base_path}";
    = javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'
    = javascript_include_tag :base
    %link{:rel => 'stylesheet', :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'}

    = csrf_meta_tag

  %body{'onload' => 'javascript: startup()'}
    #wrapper
      #header
        %h1= "<strong>Wiki</strong> UFC"

      #header_menu
        %ul
          - if logged_in?
            %li.grey= t(:logged_in_as, :u => h(@current_user.display_name))
            %li.last= link_to 'Logout', logout_path, :accesskey => 'l'
          - else
            %li= link_to 'Cadastrar', signup_path
            %li.last= link_to 'Login', login_path, :accesskey => 'l'

      #strip

      #location
        = flash_div
        = @location

      #site
        %div
          - if @right_panel.nil?
            .float_panel_left= @left_panel
            #innerwrapper_2column
              .content= @content
          - else
            .float_panel_left= @left_panel
            .float_panel_right= @right_panel
            #innerwrapper_3column
              .content= @content
        %br{'style' => 'clear:both'}

    #footer
