
!!! XML
!!!
%html
  %head
    %title= @title || App.title
    %meta{'name' => 'robots', :content => 'noindex,nofollow'}
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8'}
    %meta{'name' => "viewport", 'content' => "width=device-width" }

    = stylesheet_link_tag :wiki
    %link{'href' => "#{App.base_path}/favicon.ico", 'rel' => 'icon', 'type' => 'image/vnd.microsoft.icon'}
    %link#css_color{'href' => "#{App.base_path}/stylesheets/cache/color.#{@color}.css", 'rel' => 'Stylesheet', 'type' => %'text/css'}

    /[if IE]
      %link{:href => "#{App.base_path}/stylesheets/ie/ie.css", :rel => "stylesheet", :type => "text/css"}

    /[if lte IE 6]
      %link{:href => "#{App.base_path}/stylesheets/ie/ie6.css", :rel => "stylesheet", :type => "text/css"}

    %script{:type => 'text/javascript'}
      == BASE_PATH = "#{App.base_path}";
    = javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'
    = javascript_include_tag :base
    %link{:rel => 'stylesheet', :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'}

    = csrf_meta_tag

  %body{'onload' => 'javascript: startup()'}
    #header
      .wrapper2
        %h1
          %strong Wiki
          UFC
    #header_menu
      .wrapper2
        %ul
          - if logged_in?
            %li.grey= h(@current_user.display_name)
            %li.last= link_to 'Logout', logout_path, :accesskey => 'l'
          - else
            %li= link_to 'Cadastrar', signup_path
            %li.last= link_to 'Login', login_path, :accesskey => 'l'
    #wrapper
      .wrapper2
        #strip

        #flash
          = flash_div
        #location
          = @location

        #site
          %div
            - if @right_panel.nil?
              .float_panel_left= @left_panel
              #innerwrapper_2column
                .content= @content
            - else
              .float_panel_left= @left_panel
              .float_panel_right= @right_panel
              #innerwrapper_3column
                .content= @content
          %br{'style' => 'clear:both'}

    #footer
      %p
        %b Wiki
        UFC 1.1
      %p
        Powered by Ruby on Rails, PostgreSQL & Linux
      %p
        Distribuido livremente sob a
        %a{href: 'https://www.gnu.org/licenses/agpl-3.0.en.html'}
          GNU Affero GPLv3
      %p
        %a{href: 'https://github.com/iSoron/wikiufc'}
          Ver código fonte
