- @title = "#{App.title} - #{h(@course.full_name)}"
- @location = capture do 
  = link_to(App.title, index_url) + "&rsaquo;"
  = link_to("Disciplinas", courses_url) + "&rsaquo;"
  = link_to(h(@course.full_name), course_url(@course)) + "&rsaquo;"
  = link_to("Arquivos", course_url(@course))
  - if @attachment.id
    = "&rsaquo;" + link_to(truncate(h(@attachment.file_name)), course_attachment_url)
    - @title = @title + " - #{truncate(h(@attachment.file_name))}"

- @left_panel = render 'courses/_left_panel'
- @right_panel = render 'courses/_right_panel'
- @content = yield

= render 'layouts/base' 
