- @title = "#{App.title} - #{h(@course.full_name)} - Calendário"
- @location = capture do 
  = link_to(App.title, index_url) + "&rsaquo;"
  = link_to("Disciplinas", courses_url) + "&rsaquo;"
  = link_to(h(@course.full_name), course_url(@course)) + "&rsaquo;"
  = link_to("Calendário", course_events_url)

- @left_panel = render 'courses/left_panel'
- @right_panel = render 'courses/right_panel'
- @content = yield

= render 'layouts/base' 
