- @title = App.title
- @location = capture do
  = link_to(App.title, "/") + "&rsaquo;";
  = link_to("Usuários", users_path)
  - if @user and @user.id
    = "&rsaquo; " + link_to(h(@user.name), user_url(@user))
    - @title = @title + " - #{h(@user.display_name)}"

- @left_panel = render('widgets/menu_navigation') + render('widgets/menu_user')
- @content = yield

= render 'layouts/base'
